# User files
settings.json
pyproject.toml
run_*.sh

# Environment setup
venv/
.venv/
.env
.envrc

# Cache
__pycache__/
*.pyc

# Data (GloVe embeddings, etc.)
.data/
data/
Large_Language_Model/saved_model/

# Mac garbage
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes
Desktop.ini
