# User files
settings.json
pyproject.toml

# Environment setup
venv/
.venv/
.env
.envrc

# Cache
__pycache__/
*.pyc

# Data (GloVe embeddings, etc.)
data/
*_log.md
confusion_matrix_*

# Mac garbage
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes
Desktop.ini